@page "/"
<div class="fade-in">
<h1>Üdvözöl a ZH Adatfelvételi Segéd!</h1>

<p>Ez az alkalmazás abban segít, hogy könnyedén rögzítsd a ZH-k, kisZh-k vagy vizsgák adatait.</p>
<p>Add meg a tárgy nevét, típusát, időpontját és mentsd le egy fájlba!</p>

<a href="/zhform">
    <button>
        ➕ Új ZH felvitele
    </button>
</a>

<br />
<br />
    <a href="zhlist">
<button >📂 Mentett ZH-k megtekintése</button>
    </a>
<p style="margin-top: 30px;">Ne hagyd az utolsó pillanatra – szervezd a zh-kat tudatosan!</p>
</div>